/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-side_esf {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 69px;
  height: 69px;
}
.icon-side_fina {
  background-image: url(sprite.png);
  background-position: -69px 0px;
  width: 69px;
  height: 69px;
}
.icon-side_help {
  background-image: url(sprite.png);
  background-position: 0px -69px;
  width: 69px;
  height: 69px;
}
.icon-size_add {
  background-image: url(sprite.png);
  background-position: -69px -69px;
  width: 69px;
  height: 69px;
}
.icon-size_download {
  background-image: url(sprite.png);
  background-position: -138px 0px;
  width: 69px;
  height: 69px;
}
.icon-size_nh {
  background-image: url(sprite.png);
  background-position: -138px -69px;
  width: 69px;
  height: 69px;
}
.icon-size_sale {
  background-image: url(sprite.png);
  background-position: 0px -138px;
  width: 69px;
  height: 69px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-side_esf {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
  .icon-side_fina {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
  .icon-side_help {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
  .icon-size_add {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
  .icon-size_download {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
  .icon-size_nh {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
  .icon-size_sale {
    background-image: url(sprite@2x.png);
    background-size: 207px 207px;
  }
}
